/* 全局基础样式重置 */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* 关键：始终预留竖滚动条，避免宽度来回变化 */
body {
  overflow-y: scroll;
  overflow-x: hidden;  /* 防止横向滚动条 */
}


/* 取消 Vite 默认给 #app 的 max-width / padding，完全交给 App.vue 控制 */
#app {
  margin: 0;
  padding: 0;
  max-width: none;
}
